In [1]:
a=10
if a<15:
    pass

In [2]:
if 10 <3:
    print(" incorrect")
else:
    print(" correct")

 correct

In [4]:
income =50
if income <50:
    print("income is ok")
elif income < 60:
    print(" income is less")
elif income <70:
    print("income is very less")
else:
    print("need to change")

 income is less

In [8]:
Total_price = int(input())
if Total_price >10000:
    discount = Total_price*.20
    print("dicount will be",discount)
elif Total_price <= 7000:
    discount = Total_price*.10
    print("discount will be",discount)
else:
    print(" no discount available")

5000
discount will be 500.0

In [15]:
s= input()
course=input()
if s=="rashika":
    if course =="FSDS":
        print("rashika will able to complete")
    elif course == "SCIENCE":
        print("need new faculty")
    else:
        print('sorry')
elif s=="gupta":
    if course =="MATHS":
        print('faculty name shivangi')
    elif course=="sst":
        print(' fn guptaji')
    else:
        print('try again')
else:
    print('Give right input')

rashika
maths
sorry

In [16]:
l=[1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [17]:
l1=['a','b',1,2,True,3+2j,5.2]
for i in l1:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'float'>

In [18]:
for i in l1:
    print(type(i),i)

<class 'str'> a
<class 'str'> b
<class 'int'> 1
<class 'int'> 2
<class 'bool'> True
<class 'complex'> (3+2j)
<class 'float'> 5.2

In [19]:
l2=[]
for i in l1:
    if type(i)==int:
        l2.append(i+2)
    else:
        l2.append(i)

In [20]:
l2

['a', 'b', 3, 4, True, (3+2j), 5.2]

In [21]:
l3 = [1,2,3,3,'rashi',[1,2,3,'gupta']]

In [36]:
# print index of all element.
for i in range(len(l3)):
    print(l3[i], "index is", i)

1 index is 0
2 index is 1
3 index is 2
3 index is 3
rashi index is 4
[1, 2, 3, 'gupta'] index is 5

In [37]:
# second way to find index of all element.
for i in enumerate(l3):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 3)
(4, 'rashi')
(5, [1, 2, 3, 'gupta'])

In [28]:
l4=[]
for i in l3:
    if type(i)==str:
        l4.append(list(i))
    elif type(i)==list:
        for j in i:
            if type(j)==str:
                l4.append(list(j))

In [29]:
l4

[['r', 'a', 's', 'h', 'i'], ['g', 'u', 'p', 't', 'a']]

In [31]:
l5=[]
for i in l3:
    if type(i)==int:
        l5.append(i*i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                l5.append(j*j)
l5

[1, 4, 9, 9, 1, 4, 9]

In [39]:
a=0
while a<6:
    print(a)
    a+=1

0
1
2
3
4
5

In [40]:
a=1
while a<7:
    if a==5:
        break
    print(a)
    a+=1

1
2
3
4

In [43]:
a=1
while a<7:
    print(a)
    a=a+1
    if a==3:
        continue

1
2
3
4
5
6

In [44]:
n=6
for i in range(6):
    for j in range(0,i+1):
        print('* ',end='')
    print('\r')

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [45]:
d={'a':1,'b':2,'c':3}
for i in d:
    print(i,d[i])

a 1
b 2
c 3

In [46]:
r="rashika gupta"
for i in range(len(r)-1,-1,-1):
    print(r[i])

a
t
p
u
g

a
k
i
h
s
a
r

In [48]:
p= "rashika"
q="aAeEiIoOuU"
for i in p:
    if i in q:
        print("vowel", i)
    else:
        print(i, 'is not a vowel')

r is not a vowel
vowel a
s is not a vowel
h is not a vowel
vowel i
k is not a vowel
vowel a

In [49]:
s="eye"
if s==s[::-1]:
    print("it's a palindrome")
else:
    print("it's not a palindrome" )

it's a palindrome

In [51]:
d_1={'a':{"k":1,"k1":2,"k3":3},'b':{'k4':4,'k5':5,'k6':7}}
l=[]
for i in d_1.values():
    for j in i.values():
        l.append(j)
    print(max(l))

3
7

In [53]:
for i in d_1.values():
    print(max(i.values()))

3
7

In [1]:
d4={'a':1,'b':{'k':23,'k2':25,'k3':26},"bc":89, 'h':[1,2,3,5],'g':(78,89,99)}
l=[]
for i in d4.values():
    if type(i)==int:
        l.append(i)
    elif type(i)==dict:
        l.append(i.values())
    elif type(i)==list:
        l.extend(i)
    elif type(i)==tuple:
        l.extend(i)
else:
     print(max(l))

TypeError: '>' not supported between instances of 'dict_values' and 'int'

In [4]:
l=[]
for i in d4.values():
    if type(i)==int:
        l.append(i)
    elif type(i)==dict:
        l.append(max(i.values())
    elif type(i)==list:
        l.extend(i)
    elif type(i)==tuple:
        l.extend(i)

SyntaxError: invalid syntax (Temp/ipykernel_3836/934806733.py, line 7)

In [3]:
l

[1, dict_values([23, 25, 26]), 89, 1, 2, 3, 5, 78, 89, 99]

In [8]:
l=[]
for i in d4.values():
    if type(i)==int:
        l.append(i)
    elif type(i)==dict:
        l.extend(i.values())
    elif type(i)==list:
        l.extend(i)
    elif type(i)==tuple:
        l.extend(i)
l

[1, 23, 25, 26, 89, 1, 2, 3, 5, 78, 89, 99]

In [9]:
max(l)

99

In [1]:
def test(a):
    n=[]
    if type(a)==list:
        for i in a:
            if type(i)==int:
                n.append(i)
    return n

In [2]:
test([1,2,3,4,5,6,7,"rashi",'gupta'])

[1, 2, 3, 4, 5, 6, 7]

In [5]:
def triangle(rows):
    if type(rows)==int:
        for i in range(0,rows+1):
            for j in range (i):
                print('.',end="")
            print('\n')

In [6]:
triangle(4)

.

..

...

....

In [7]:
# To give multiple arguments.
def a(*args):
    return args

In [8]:
a(1,2,3,4)

(1, 2, 3, 4)

In [9]:
# To give multiple arguments in key values pair.
def a(**kwargs):
    return kwargs

In [14]:
a(name="rashika",lastname="gupta")

{'name': 'rashika', 'lastname': 'gupta'}

In [16]:
a=lambda b,c:b*c

In [17]:
a(15,12)

180

In [18]:
x= lambda x:[print(i) for i in x]

In [19]:
x("rashika")

r
a
s
h
i
k
a

[None, None, None, None, None, None, None]